.home {
    padding-left: 10%;
    padding-right: 10%;
}

.pictureBase {
    position: absolute;
    z-index: -10;
    width: 101vw;
    height: 100vh;
    top: 0;
    left: -10px;
    overflow: hidden;
}

.portfolioOfName {
    /* width: 24%; */
    margin: auto;
    margin-bottom: 30px;
    background-color: #a25a33;
    /* background-color: #00caea57; */
    padding-left: 5px;
    font-weight: 500;
    line-height: 1.2;
    font-size: 40px;
}

.portfolioOfDescriptionWords {
    font-size: 30px;
    /* width: 76%; */
    margin: auto;
    position: relative;
    background-color: #a25a33;
    /* background-color: #00caea57; */
    padding-left: 15px;
    font-weight: 450;
    line-height: 1.5;
}

.upperSection {
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.profilePicture {
    border-radius: 300px;
    width: 300px;
    border: solid #a25a33 3px;
}

.aboutMeSection {
    margin-top: 70vh;
    margin-bottom: 30vh;
    position: relative;
}

.aboutMeContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

.aboutMeWords {
    margin: auto;
    width: 60%;
    font-size: 25px;
    text-align: left;
}

.sectionHeader {
    width: 200px;
    margin: auto;
    margin-bottom: 5vh;
}

.skillsSection {
    margin-bottom: 30vh;
}

.skillsBlock {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
}

.skillImageRound {
    border-radius: 100px;
}

.skillTitle {
    margin: auto;
}

.skillImage {
    height: 200px;
}

.skillAndTitle {
    margin-bottom: 50px;
}

.downArrow {
    cursor: pointer;
    position: absolute;
    right: calc(50% - 50px);
}

.projectsSingleAndButtons {
    display: flex;
    justify-content: space-between;
}

.projectsButton {
    height: 25px;
    margin-top: 25%;
    cursor: pointer;
}

.contactColors {
    background-color: whitesmoke;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 10vh;
}

.skillsColors {
    background-color: whitesmoke;
    padding-top: 50px;
}

/* .profilePictureContainer {
    padding: 2px;
    border-radius: 200px;
    background-color: #a25a33;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
} */

/* .aboutMeWords {
    padding: 10px;
    border-radius: 8px;
}

.aboutMeHeader {
    color: #a25a33;
}  */

.colorBlockOne {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #00bcd421;
    z-index: -10;
    left: -50px;
    top: -70px;
}

.colorBlockTwo {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #c8ad9866;
    z-index: -10;
    left: -10px;
}

.colorBlockThree {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #00bcd421;
    z-index: -10;
    right: 50px;
}

.colorBlockFour {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #c8ad9866;
    z-index: -10;
    right: 90px;
    top: 2550px;
}

.linkedGithubLogos {
    border-radius: 5px;
    height: 40px;
}

.linkedinGithubDiv {
    width: 7%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: absolute;
    top: 25px;
    right: 25px;
}